header{
		background-image: url(header5.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	box-shadow: inset 0 0 0 1000px rgba(138, 199, 194, 0.9);
	height: 22em;
}
header nav a{
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#me{
	background: #66B2B2;
	height: 100%;
	margin: auto;
	margin-top: -15%;
}
#me h3{
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin-top: 8px;
	font-weight: bolder;
}
#me h5{
	text-align: center;
	color: white;
	/*font-style: italic;*/
	font-family: 'Open Sans', sans-serif;
}
#me h7{
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-left: 1%;
}
#me img{
	width: auto;
	height: 20.2em;
}
#me #move{
	margin: auto;

}
#me #socials img{
	width: 50px;
	height: auto
}
#skill{
	border:5px solid #66B2B2;
	margin: auto;
	margin-top: 50px;
}
#skill h1{
	text-align: center;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
#skill h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#skill p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#skill h3{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
#skill #lang{
	margin: auto;
}
#skill #lang h6{
	text-align: center;
}
#skill #program{
	margin: auto;
}
#skill #ide{
	margin:auto;
}
#skill #data{
	margin: auto;
}
#skill #data #dat{
	margin: auto;
}
#skill #projectm{
	margin: auto;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.box {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 30px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.english {width: 100%; background-color: #8AC7C2;} /* Green */
.french {width: 85%; background-color: #8AC7C2;} /* Green */
.spanish {width: 40%; background-color: #8AC7C2;} /* Green */
.python {width: 50%; background-color: #8AC7C2;} /* Green */
.java {width: 50%; background-color: #8AC7C2;} /* Green */
.javascript {width: 20%; background-color: #8AC7C2;} /* Green */
.html5 {width: 90%; background-color: #8AC7C2;} /* Green */
.css3 {width: 90%; background-color: #8AC7C2;} /* Green */
.bootstrap {width: 90%; background-color: #8AC7C2;} /* Green */
.vs {width: 80%; background-color: #8AC7C2;} /* Green */
.eclipse {width: 75%; background-color: #8AC7C2;} /* Green */
.sublime {width: 90%; background-color: #8AC7C2;} /* Green */
.merise {width: 70%; background-color: #8AC7C2;} /* Green */
.uml {width: 60%; background-color: #8AC7C2;} /* Green */
.sql {width: 40%; background-color: #8AC7C2;} /* Green */
.pm {width: 75%; background-color: #8AC7C2;} /* Green */


#education{
	border:5px solid #66B2B2;
	margin: auto;
	margin-top: 50px;
}
#education h1{
	text-align: center;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
#education h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}
#education p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#experience{
	border:5px solid #66B2B2;
	margin: auto;
	margin-top: 50px;
}
#experience h1{
	text-align: center;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
#experience h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}
#experience p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#Activities{
	border:5px solid #66B2B2;
	margin: auto;
	margin-top: 50px;
}
#Activities h1{
	text-align: center;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}
#Activities h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}
#Activities p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}