* { color:#7f8c8d; text-decoration: none;}
#part1{
/*	background: #8AC7C2;*/
	background-image: url(header2.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	box-shadow: inset 0 0 0 1000px rgba(138, 199, 194, 0.9);
	height: 42em;
}
#part1 nav{
/*	background: #414141;*/
}
#part1 nav a{
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#part1 h1{
	text-align: center;
	color: white;
	/*font-family: 'Open Sans', sans-serif;*/
/*	font-family: 'Parisienne', cursive;*/
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bolder;
	padding: 16% 0 0 0;

}
#part1 h2{
	text-align: center;
	color: #7f8c8d;
	font-family: 'Open Sans', sans-serif;
}
#part1 img{
	padding: 13em 0 0 0;
	height: auto;
	width: 35px;
}
#part2{
	margin-bottom: 25px;
}
#part2 img{
	width: 250px;
	height: auto;
	border-radius: 100%;
	margin-top: 30px;

}
#part2 h1{
	text-align: center;
	color: #636e72;
	font-family: 'Open Sans', sans-serif;
}
#part2 #about{
	margin: auto;
}
#part2 #about p{
	color: #636e72;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	margin-bottom: 50px;
}
footer{
	background: #bdc3c7;
	height: 100%;
}
footer #social{
	margin: auto;
	margin-top: 15px;
}
footer #social img{
	width: 50px;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
