body{
	background: #EFEFEF;
}
header{
	background-image: url(header.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	box-shadow: inset 0 0 0 1000px rgba(52, 57, 86, 0.92);
	height: 50em;
}
header nav{
	background: #414141;

}
header nav a{
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
header #intro{
	padding: 13% 0 0 0;
}
header #intro img{
	display: block;
	width: 25em;
	height: auto;
	border-radius: 50%;

}
header #intro h1{
	color: white;
	text-align: center;
	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	padding: 7% 0 0 0;
}
header #intro h2{
	color: white;
	text-align: center;
}
article{
	background: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #414141;
}
article h1{
	font-weight: bolder;
	text-transform: uppercase;
}
article p{
	text-align: justify;
}
article img{
	width: 5em;
	height: auto;
}
article h3 a{
	text-decoration: none;
	color: #414141;
	font-family: 'Raleway', sans-serif;

}

footer{
	background: #54668E;
	height: 10em;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
}
footer h4{
	padding: 3% 0 0 0;
}

