@media only screen and (max-width: 320px){
body{
	font-family: 'Roboto', sans-serif;
}
header{
	background-image:url(bg-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 40em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
header nav{
	display: none;
}
header #navsmall{
	/*background:black;*/
	height: auto;
}
header #navsmall img{
	width: 100px;
	height: auto;
	margin: 15px 0 6px 30px;
}
header #navsmall button{
	float: right;
	text-align: center;
	margin: 20px 25px 0 0;
	color: black;
	height: 20px;
	width: 50px;
}

header #navsmall ul{
	margin:0 100% 0 0;
	text-align: center;
	list-style-type: none;
}
header #navsmall ul li{
	margin: 0 0 4% 0;
	padding: 5px 0 0 0;
}
header #navsmall ul li a{
	text-decoration: none;
	color: white;
}
header #navsmall ul li ul{
	background: none;
	height: auto;

}
header #registernow{
	margin: 10% 0 0 0;
}
header #registernow h2, #registernow h3,#registernow h5{
	color: white;
	text-align: center;
}
header #registernow button{
	margin: 0 37% 0 36%;
	color:black;
}
#about article h2{
	text-align: center;
	font-weight: bold;
}
#about article h2:hover{
	text-decoration: underline;
}
#about article p{
	text-align: justify;
}
#about article img{
	width: 100%;
	height: auto;
}

#about article p{
	text-align: justify;
}
#about article h5{
	font-weight: bolder;
	margin:0 0 0 11%;
}

#about article #sub2 h5 img{
	width: 15px;
	height: auto;
}
#about article{
	margin:0 9% 0 9%;
}

#infos{
	height: 10em;
	background-image: url(bg-1.jpg);
	background-size: cover;
	height: 20em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);


}
#infos figure{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	padding: auto;
}
#infos figure figcaption{
	color: white;
	font-weight: bolder;
}

#speaker{
	margin-left: 10%;
}
#speaker h4{
	font-weight: bolder;
	margin: 0 0 10px 90px;
}
#speaker img{
	width:75%;
	height: auto;
	margin: 0 0 0 10px;
}
/*regis part*/
#regis{
	background-image: url(images/pattern-1.png);
	width: 100%;
	height: auto;
}
#regis h4{
	margin: 0 10px 0 60px;
}

#regis #info{
	width: 40%;
}

#regis button{
	background-color: black;
	width: 125px;
	height: 35px;
	color: white;
	border-color: black;
	margin-left: 30%;
	text-align: center;
}

/*bloc part*/
#bloc{
	background-image: url(bg-1.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	width: 100%;
	height: auto;
	text-align: center;
	color: white;
	padding: 10%;
	margin-top: 0.5%;
}

#bloc button{
	text-align: center;
	/*border-color: white;*/
	margin: 2% 0 0 45%;
}


#page #eventss #events{
		margin:0 0 0 50px;
	}
	#page #eventss #events h3{
		font-weight: bolder;
		text-align: center;
	}
	#page #eventss #events #event1, #event2, #event3{
		height:200px;
		width:200px;
		background: black;
		border: white double;
		margin: 2%;
	}
	#page #eventss #events #event1 p, #event1 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event2 p, #event2 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event3 p, #event3 h3{
		color: white;
		text-align: center;
	}
	
	#page article h3{
		text-align: center;
	}
	#page article #pics{
		margin: 0 0 0 35px;
	}
	#page article #pics img{
		width: 100px;
		height: auto;
		margin: 0 0 10px 0;
		
	}
	#page article #pics #image{
		margin:0 0 0 10px;
	}
	#map h3{
		text-align: center;
	}
	#map p{
		width: 100%
		height: 10%;
		margin: -4px 0 0 28px;

	}
	iframe{
		margin:0 0 0 0;
		width: 10%;
		height: 3%;
		
	}
	/*footer part*/
footer{
	width: 100%;
	height: auto;
	background-color: black;
	color: white;
	text-align: center;

}

footer p{
	margin-left: 10%;
	padding-top: 2%;
}

/*footer social part*/
footer #social{
	width: 100%;
	/*height: auto;*/
}

footer #social ul{
	padding: 2%;
}

footer #social ul li{
	list-style-type: none;
	float: left;
	transition: background 0.3s ease-out;
	-webkit-transistion:  background 0.3s ease-out;
	-moz-transistion:  background 0.3s ease-out;
}

footer #social ul li:not(.nomargin){
	margin-left: 35%;
}

footer #social ul li a{
	display: block;
	width: 30px;
	height: 30px;
	/*background: #000;*/
	text-indent: -10000px;
}

footer #social ul li:first-child{
	background: url("images/reseaux-sociaux.png")left top;
}

footer #social ul li:first-child:hover{
	background: url("images/reseaux-sociaux.png")left bottom;
}

footer #social ul li:nth-child(2){
	background: url("images/reseaux-sociaux.png") -30px top;
}

footer #social ul li:nth-child(2):hover{
	background: url("images/reseaux-sociaux.png") -30px bottom;
}

footer #social ul li:nth-child(3){
	background: url("images/reseaux-sociaux.png") -60px top;
}

footer #social ul li:nth-child(3):hover{
	background: url("images/reseaux-sociaux.png") -60px bottom;
}

footer #social ul li:nth-child(4){
	background: url("images/reseaux-sociaux.png") -90px top;
}

footer #social ul li:nth-child(4):hover{
	background: url("images/reseaux-sociaux.png") -90px bottom;
}

/*class part*/
.unkwon{
	margin: 0 2% 1% 7%;
}

.marge_right{
	margin-right: 7%;
}

.marge-top{
	padding-top: 5%;
}

.marge-bottom{
	padding-bottom: 5%;
}

.marge-icone{
	margin-right: 1%;
}


}










@media only screen and (min-width: 321px) and (max-width:990px){

body{
	font-family: 'Roboto', sans-serif;
}
header{
	background-image:url(bg-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 40em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
header nav{
	display: none;
}
header #navsmall{
	/*background:black;*/
}
header #navsmall img{
	width: 100px;
	height: auto;
	margin: 15px 0 6px 30px;
}
header #navsmall button{
	float: right;
	text-align: center;
	margin: 20px 25px 0 0;
	color: black;
	height: 20px;
	width: 50px;
}

header #navsmall ul{
	color: white;
	margin:0 100% 0 0;
	text-align: center;
	list-style-type: none;
}
header #navsmall ul li{
	margin: 0 0 4% 0;
	padding: 5px 0 0 0;
}
header #navsmall ul li a{
	text-decoration: none;
	color: white;
}

header #registernow{
	margin: 10% 0 0 0;
}
header #registernow h2, #registernow h3,#registernow h5{
	color: white;
	text-align: center;
}
header #registernow button{
	margin: 0 39% 0 39%;
	color:black;
}
#about article h2{
	text-align: center;
	font-weight: bold;
}
#about article h2:hover{
	text-decoration: underline;
}
#about article p{
	text-align: justify;
}
#about article img{
	width: 100%;
	height: auto;
}

#about article p{
	text-align: justify;
}
#about article h5{
	font-weight: bolder;
	margin:0 0 0 11%;
}

#about article #sub2 h5 img{
	width: 15px;
	height: auto;
}
#about article{
	margin:0 9% 0 9%;
}

#infos{
	height: 10em;
	background-image: url(bg-1.jpg);
	background-size: cover;
	height: 20em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);


}
#infos figure{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	padding: auto;
}
#infos figure figcaption{
	color: white;
	font-weight: bolder;
}
#speaker{
	margin-left: 10%;
}
#speaker h4{
	font-weight: bolder;
}

/*regis part*/
#regis{
	background-image: url(images/pattern-1.png);
	width: 100%;
	height: auto;
}

#regis #info{
	width: 40%;
}

#regis button{
	background-color: black;
	/*width: 125px;
	height: 35px;*/
	color: white;
	border-color: black;
	margin-left: 43%;
	text-align: center;
}

/*bloc part*/
#bloc{
	background-image: url(bg-1.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	width: 100%;
	height: auto;
	text-align: center;
	color: white;
	padding: 10%;
	margin-top: 0.5%;
}

#bloc button{
	text-align: center;
	/*border-color: white;*/
	margin: 2% 0 0 45%;
}

	#page article{
		background: #bdc3c7;
		width: auto;
		height: 450px;
	}

	#page article div img{
		width: 80%;
		height: 60%;
		
	}
	#page #eventss #events h3{
		
	}
	#page #eventss #events h3{
		font-weight: bolder;
	}
	#page #eventss #events #event1, #event2, #event3{
		height:auto;
		width:auto;
		background: black;
		border: white double;
		margin: 2%;
	}
	#page #eventss #events #event1 p, #event1 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event2 p, #event2 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event3 p, #event3 h3{
		color: white;
		text-align: center;
	}
	
	#page article h3{
		font-family: 'Lobster', cursive;
		margin: 1px 0 0 10%;
	}
	#page article img{
		color: #ecf0f1;
	}
	#map{
		height: 600px;
	}
	#map p{
		width: 50%;
		height: 10%;
		float: left;


	}
	#map iframe{
		display: right;
	}

/*footer part*/
footer{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	text-align: center;

}

footer p{
	margin-left: 40%;
	padding-top: 2%;
}

/*footer social part*/
footer #social{
	width: 100%;
	/*height: auto;*/
}

footer #social ul{
	padding: 2%;
}

footer #social ul li{
	list-style-type: none;
	float: left;
	transition: background 0.3s ease-out;
	-webkit-transistion:  background 0.3s ease-out;
	-moz-transistion:  background 0.3s ease-out;
}

footer #social ul li:not(.nomargin){
	margin-left: 43%;
}

footer #social ul li a{
	display: block;
	width: 30px;
	height: 30px;
	/*background: #000;*/
	text-indent: -10000px;
}

footer #social ul li:first-child{
	background: url("images/reseaux-sociaux.png")left top;
}

footer #social ul li:first-child:hover{
	background: url("images/reseaux-sociaux.png")left bottom;
}

footer #social ul li:nth-child(2){
	background: url("images/reseaux-sociaux.png") -30px top;
}

footer #social ul li:nth-child(2):hover{
	background: url("images/reseaux-sociaux.png") -30px bottom;
}

footer #social ul li:nth-child(3){
	background: url("images/reseaux-sociaux.png") -60px top;
}

footer #social ul li:nth-child(3):hover{
	background: url("images/reseaux-sociaux.png") -60px bottom;
}

footer #social ul li:nth-child(4){
	background: url("images/reseaux-sociaux.png") -90px top;
}

footer #social ul li:nth-child(4):hover{
	background: url("images/reseaux-sociaux.png") -90px bottom;
}

/*class part*/
.unkwon{
	margin: 0 2% 1% 7%;
}

.marge_right{
	margin-right: 7%;
}

.marge-top{
	padding-top: 5%;
}

.marge-bottom{
	padding-bottom: 5%;
}

.marge-icone{
	margin-right: 1%;
}

}











@media only screen and (min-width: 991px){
	body{
	font-family: 'Roboto', sans-serif;
}
header{
	background-image:url(bg-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 40em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
header #navsmall{
	display: none;
}
#logo img{
	width:25%;
	height: auto;
}
header nav h6 a{
	color: white;
	text-align: center;
}
header nav h6 a:hover{
	text-decoration: underline;
}

header #registernow{
	margin: 10% 0 0 0;
}
header #registernow h2, #registernow h3,#registernow h5{
	color: white;
	text-align: center;
}
header #registernow button{
	margin: 0 39% 0 39%;
	color: black;
}
#about article h2{
	font-weight: bold;
}
#about article h2:hover{
	text-decoration: underline;
}
#about article p{
	text-align: justify;
}
#about article img{
	width: 100%;
	height: auto;
}
#about article h5{
	font-weight: bolder;
}

#about article #sub2 h5 img{
	width: 15px;
	height: auto;
}
#about #goal article{
	margin:0 0 0 0;
}

#infos{
	height: 10em;
	background-image: url(bg-1.jpg);
	background-size: cover;
	height: 20em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);


}
#infos figure{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	padding: auto;
}
#infos figure figcaption{
	color: white;
	font-weight: bolder;
}

#speaker{
	margin-left: 10%;
}
#speaker h4{
	font-weight: bolder;
	margin:0 0 2% 0;
}

/*regis part*/
#regis{
	background-image: url(images/pattern-1.png);
	width: 100%;
	height: auto;
}

#regis #info{
	width: 40%;
}

#regis button{
	background-color: black;
	/*width: 125px;
	height: 35px;*/
	color: white;
	border-color: black;
	margin-left: 43%;
	text-align: center;
}

/*bloc part*/
#bloc{
	background-image: url(bg-1.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	width: 100%;
	height: auto;
	text-align: center;
	color: white;
	padding: 10%;
	margin-top: 0.5%;
}

#bloc button{
	text-align: center;
	/*border-color: white;*/
	margin: 2% 0 0 45%;
}

#page section{

		background: white;
		width: auto;
		height: 300px;
	}
	#page article{
		background: #bdc3c7;
		width: auto;
		height: 450px;
	}

	#page article div img{
		width: 80%;
		height: 60%;
		
	}
	#page #eventss #events h3{
		
	}
	#page #eventss #events h3{
		font-weight: bolder;
	}
	#page #eventss #events #event1, #event2, #event3{
		height:auto;
		width:auto;
		background: black;
		border: white double;
		margin: 2%;
	}
	#page #eventss #events #event1 p, #event1 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event2 p, #event2 h3{
		color: white;
		text-align: center;
	}
	#page #eventss #events #event3 p, #event3 h3{
		color: white;
		text-align: center;
	}
	
	#page article h3{
		/*font-family: 'Lobster', cursive;*/
		margin: 1px 0 0 10%;
	}
	#page article img{
		color: #ecf0f1;
	}
	#map{
		height: 600px;
	}
	#map p{
		width: 50%;
		height: 10%;
		float: left;


	}
	#map iframe{
		display: right;
	}


/*footer part*/
footer{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	text-align: center;

}

footer p{
	margin-left: 40%;
	padding-top: 2%;
}

/*footer social part*/
footer #social{
	width: 100%;
	/*height: auto;*/
}

footer #social ul{
	padding: 2%;
}

footer #social ul li{
	list-style-type: none;
	float: left;
	transition: background 0.3s ease-out;
	-webkit-transistion:  background 0.3s ease-out;
	-moz-transistion:  background 0.3s ease-out;
}

footer #social ul li:not(.nomargin){
	margin-left: 43%;
}

footer #social ul li a{
	display: block;
	width: 30px;
	height: 30px;
	/*background: #000;*/
	text-indent: -10000px;
}

footer #social ul li:first-child{
	background: url("images/reseaux-sociaux.png")left top;
}

footer #social ul li:first-child:hover{
	background: url("images/reseaux-sociaux.png")left bottom;
}

footer #social ul li:nth-child(2){
	background: url("images/reseaux-sociaux.png") -30px top;
}

footer #social ul li:nth-child(2):hover{
	background: url("images/reseaux-sociaux.png") -30px bottom;
}

footer #social ul li:nth-child(3){
	background: url("images/reseaux-sociaux.png") -60px top;
}

footer #social ul li:nth-child(3):hover{
	background: url("images/reseaux-sociaux.png") -60px bottom;
}

footer #social ul li:nth-child(4){
	background: url("images/reseaux-sociaux.png") -90px top;
}

footer #social ul li:nth-child(4):hover{
	background: url("images/reseaux-sociaux.png") -90px bottom;
}

/*class part*/
.unkwon{
	margin: 0 2% 1% 7%;
}

.marge_right{
	margin-right: 7%;
}

.marge-top{
	padding-top: 5%;
}

.marge-bottom{
	padding-bottom: 5%;
}

.marge-icone{
	margin-right: 1%;
}

}