header{
	background-image: url(bg-2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 40em;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
header a{
	color: white;
}
header h3{
	color: white;
	text-align: center;
}
header h5{
	color: white;
	text-align: center;
}
header .button {
    background-color: white;
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}
article #part2{
	margin: auto;
}
article #part2 p{
	text-align: justify;
	font-size: 14px;
}
article #part2 img{
	width: 400px;
	height: auto;
}
article #part2 ul     	     {
		list-style: none;
	     }

article #part2 ul li:before {
		content: "\00BB \0020";
	     }

article #part3{
	background-image: url(bg-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	height: 15em;


}
article #part3 #third{
	margin:auto;
}
article #part3 h6{
	color: white;
	text-align: center;
}
article #part4 img{
	width: 80%;
	height: auto;
}
article #part4 h6{
	text-align: center;
}
article #part5{
	background-image: url(pattern-1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 30em;
}
article #part6{
	background-image: url(bg-1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
	height: 15em;
}
